numpy>=1.22.2
itk>=5.3rc4
torch
torchio
tensorboard
monai>=0.6.0
pandas
scikit-learn
wandb
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=2.3.8 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
